<html>
	<head>
		<title>Hello world</title>
	</head>
	<body>
		<%= 'Hello' + 'world' %>
		<svg><use xlink:href="sprites.svg#close"></svg>
		<img src="<%= require('../images/sylvanas.jpg') %>"> 
	</body>
</html>